name: Black

on:
  - push
  - pull_request

jobs:
  black:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - name: Install uv
        uses: astral-sh/setup-uv@v3
        with:
          version: "latest"
      - name: Install dependencies
        run: uv sync --extra dev
      - name: Black version
        run: uv run black --version
      - name: Black check
        run: uv run black . --check
